/*********************************************
Global Layout Set-up
*********************************************/
* { 
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.45;
	background-image: url(../photos/photo-beach-compressed.jpg);
	background-attachment: fixed;
	background-size: 100%; 
	background-repeat: no-repeat;
	background-color: white;
} 

.splash {
	height: 100%;
	display: flex;
	justify-content: space-between;
}

.splash h1, .splash p {
	padding: 0 1.3em 0 1.3em;
}
		

.controls {
	width: 100%;
	max-width: 1024px;
	display: flex;
	margin: 0 auto;
	justify-content: space-around;
	flex-wrap: wrap;
}

.portfolio {
	background-color: white;
	min-height: 100vh;
	text-align: center;
}

.portfolio h2 {
	padding-top: 1.3em;
}

.gallery {
	width: 100%;
	display: flex;
	margin: 0 auto;
	justify-content: space-around;
	flex-wrap: wrap;
}

button {
  padding: .4em .8em;
  margin: .4em .8em;
  background: #666;
  border: 0;
  color: #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.mixitup-control-active {
  background: blue;
}

a {
	color: black;
}

.gallery a {
	width: 420px;
	padding: 30px;
	border-width: 2px;
	text-decoration: none;
}

a img {
	width: 100%;
	opacity: 0.8;
	box-shadow: 3px 3px 3px grey;
}

a img:hover {
	opacity: 1;
}


/* ================================= 
  lightGallery
==================================== */
.lg {
	top: 100px !important;
}

.lg-sub-html {
	font-size: 16px !important;
	padding: 0 !important;
	margin: 0 !important;
}

.lg-sub-html a {
	color: white;
	text-decoration: underline;
	padding: 0 2em;
}

.lg-sub-html a:hover {
	color: blue;
}


/* ================================= 
  Squeeze page
==================================== */

.squeeze-page {
	display: none;
	text-align: center;
	color: grey;
	position: fixed;
	top: 20%;
	width: 100%;
	height: 60%;
	z-index: 2;
	background-color: white;
	border-style: solid;
	border-color: grey;
	border-width: 2px 0;
}

.squeeze-page p {
	font-size: 1.5rem;
}

.squeeze-page h1 {
	font-size: 4rem;
	margin: -1rem 0 0 0;
	color: white;
	text-shadow:	0 1px 0 #ccc,   
					0 2px 0 #c9c9c9,
					0 3px 0 #bbb,
					0 4px 0 #b9b9b9,
					0 5px 0 #aaa,
					0 6px 1px rgba(0,0,0,.1),
					0 0 5px rgba(0,0,0,.1),
					0 1px 3px rgba(0,0,0,.3),
					0 3px 5px rgba(0,0,0,.2),
					0 5px 10px rgba(0,0,0,.25),
					0 10px 10px rgba(0,0,0,.2),
					0 20px 20px rgba(0,0,0,.15);
}

.squeeze-page .img-wrapper {
	width: 250px;
	margin: 0 auto;
}

.squeeze-page img {
	width: 250px;
}

button.opt-out, button.opt-in {
	padding: .55rem 0.85rem;
	border-radius: 30%;
	cursor: pointer;
	border: none;
	font-size: 1.5rem;
}

button.opt-out:hover, button.opt-in:hover {
	background-color: #c5c5c5;
}

.splash .spacer {
	height: 100%;
	width: 0%;
}
	
.splash .text {
	text-align: left;
	height: 100%;
	width: 100%;
}
  
@media screen and (min-width: 1024px) {
  
	body {
		background-size: 70%; 
	} 

	.splash .spacer {
		height: 100%;
		width: 70%;
	}
		
	.splash .text {
		text-align: left;
		width: 30%;
	}
}